@using ConsultorioDermatologico.Models
@model List<PacienteCLS>

@{
    ViewBag.Title = "Lista de pacientes";

}

<h2 style="padding-top:1em">Pacientes registrados</h2>

<div class="row espacio">
    <div class="col-sm-2">
        <div class="row justify-content-center">
            @Html.ActionLink("Regresar", "Medico", "Home", null, new { @class = "btn-outline-secondary btn rounded-pill llenar-espacio" })
        </div>
    </div>
    
</div>

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListaUsuarios",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    <div class="row espacio">
        @Html.Label("Búsqueda por nombre o número de cedula: ")
        @Html.TextBox("busqueda", null, new { @class = "form-control",@style="margin-left:1em;" })
    </div>

    <div id="divListaUsuarios">
        @Html.Partial("_TablaPacientes", Model)
    </div>
}

<script>
    var filtro = document.getElementById("busqueda");
    filtro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>


