@using ConsultorioDermatologico.Models
@model List<PacienteCLS>

@{
    ViewBag.Title = "Index";

}

<h2 style="padding-top:1em">Pacientes registrados</h2>

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListaUsuarios",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    <div class="row espacio">
        @Html.Label("Búsqueda por nombre o número de cedula: ")
        @Html.TextBox("busqueda", null, new { @class = "form-control" })
    </div>
    
    <div id="divListaUsuarios">
        @Html.Partial("_TablaPacientes", Model)
    </div>
}

<script>
    var filtro = document.getElementById("busqueda");
    filtro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>


