body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px
}

.tdCentrar {
    text-align: center;
    vertical-align: middle;
    background-color: #F0F0F0;
}

.espacio {
    padding:1em;
}

.imagenFondo {
    background: url(../../Resources/mapaCorporal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    display: block;
    width: 100%;
    height: auto;
}

.centrar {
    margin: auto;
    width: 50%;
    padding: 1em;
    text-align: center;

}

.card-propio {
    margin-top: 10px 200px;
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
}


element.style {
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.llenar-espacio {
    width: 100%;
    margin: 5px;
}

body {
    background-image: url("/Resources/gplay.png") !important;
}

.cap1 {
    background-color: #FBFCFC;
}

.cap2 {
    background-color: #F2D7D5;
}

.cap3 {
    background-color: #FADBD8;
}

.cap4 {
    background-color: #EBDEF0;
}

.cap5 {
    background-color: #E8DAEF;
}

.cap6 {
    background-color: #D4E6F1;
}

.cap7 {
    background-color: #D6EAF8;
}

.cap8 {
    background-color: #D1F2EB;
}

.cap9 {
    background-color: #D0ECE7;
}

.cap10 {
    background-color: #D4EFDF;
}

.cap11 {
    background-color: #D5F5E3;
}

.cap12 {
    background-color: #FCF3CF;
}

.cap13 {
    background-color: #FDEBD0;
}

.cap14 {
    background-color: #FAE5D3;
}

.cap15 {
    background-color: #F6DDCC;
}

.cap16 {
    background-color: #F2F3F4;
}

.cap17 {
    background-color: #EAEDED;
}

.cap18 {
    background-color: #E5E8E8;
}

.cap19 {
    background-color: #D6DBDF;
}

.cap20 {
    background-color: #D5D8DC;
}

.cap21 {
    background-color: #FBFCFC;
}


.cap1t {
    background-color: #F7F9F9;
}

.cap2t {
    background-color: #E6B0AA;
}

.cap3t {
    background-color: #F5B7B1;
}

.cap4t {
    background-color: #D7BDE2;
}

.cap5t {
    background-color: #D2B4DE;
}

.cap6t {
    background-color: #A9CCE3;
}

.cap7t {
    background-color: #AED6F1;
}

.cap8t {
    background-color: #A3E4D7;
}

.cap9t {
    background-color: #A2D9CE;
}

.cap10t {
    background-color: #A9DFBF;
}

.cap11t {
    background-color: #ABEBC6;
}

.cap12t {
    background-color: #F9E79F;
}

.cap13t {
    background-color: #FAD7A0;
}

.cap14t {
    background-color: #F5CBA7;
}

.cap15t {
    background-color: #EDBB99;
}

.cap16t {
    background-color: #E5E7E9;
}

.cap17t {
    background-color: #D5DBDB;
}

.cap18t {
    background-color: #CCD1D1;
}

.cap19t {
    background-color: #AEB6BF;
}

.cap20t {
    background-color: #ABB2B9;
}

.cap21t {
    background-color: #F7F9F9;
}


