body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px
}

.tdCentrar {
    text-align: center;
    vertical-align: middle;
}

.espacio {
    padding:1em;
}

.imagenFondo {
    background: url(../../Resources/mapaCorporal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    display: block;
    width: 100%;
    height: auto;
}

.centrar {
    margin: auto;
    width: 50%;
    padding: 1em;
    text-align: center;

}

.card-propio {
    margin-top: 10px 200px;
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
}
/*#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px
}*/
