
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <style>
        .card-propio {
            margin-top: 10px 200px;
            flex: 1 150px;
            padding: 2px 0px 2px 0px;
        }
    </style>
    
</head>
<body>
    
    

    <div class="container body-content">


        <div class="row d-flex flex-wrap">
            <div class=" col-sm-4 d-flex flex-column justify-content-between">
                <div class="card  card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Registrar un nuevo usuario</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-user-md fa-4x" aria-hidden="true"></i>                           
                        </div>
                        <p class="card-text" style="text-align:justify">Añadir un nuevo usuario con rol de administrador para gestión completa del sistema</p>
                        <p class="card-text">Añadir un nuevo usuario con rol de médico para gestión de pacientes e historias clínicas</p>
                    </div>
                    <div>
                        <a href="../Usuario/Index" class="btn btn-primary" style="width: 100%"> <i class="fa fa-user-plus" aria-hidden="true"></i> Añadir usuario</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex flex-column justify-content-between">
                <div class="card  card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Administración de usuarios</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                        </div>
                        <p class="card-text" style="text-align:justify">Muestra una lista de los usuarios registrados con sus roles en el sistema con opciones de edición y eliminación</p>
                    </div>
                    <div>
                        <a href="../Usuario/Index" class="btn btn-primary" style="width: 100%"><i class="fa fa-address-book" aria-hidden="true"></i> Listar usuarios</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex flex-column justify-content-between">
                <div class="card  card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Administración de pacientes</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-id-card fa-4x" aria-hidden="true"></i>
                        </div>
                        <p class="card-text" style="text-align:justify">Muestra una lista de los pacientes registrados con opciones de edición y eliminación</p>
                    </div>
                    <div>
                        <a href="../Usuario/Index" class="btn btn-primary" style="width: 100%"><i class="fa fa-list-ul" aria-hidden="true"></i> Listar pacientes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>












