@using ConsultorioDermatologico.Models
@model List<Cie10CLS>

@{
    ViewBag.Title = "CIE - 10";
}

<h2 class="espacio">Clasificación internacional de enfermedades</h2>

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListaCIE",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Búsqueda por nombre: ")
    <div class="row espacio">
        @Html.TextBox("busqueda", null, new { @class = "form-control" })
        <button class="btn btn-primary rounded-pill " onclick="busqueda()">Buscar</button>
    </div>

    <div id="divListaCIE">
        @Html.Partial("_TablaCIE", Model)
    </div>
}



<script>
    //filtro de busqueda en base a lo escrito en el textbox
    var filtro = document.getElementById("busqueda");

    function busqueda() {
        $("#frmFiltro").trigger("submit");
    }

</script>
