@using ConsultorioDermatologico.Models
@model List<Cie10CLS>

@{
    ViewBag.Title = "Index";
}

<h2 class="espacio">Clasificación internacional de enfermedades</h2>

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListaCIE",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Búsqueda por nombre: ")
    @Html.TextBox("busqueda", null, new { @class = "form-control" })
    <div id="divListaCIE">
        @Html.Partial("_TablaCIE", Model)
    </div>
}



<script>
    var filtro = document.getElementById("busqueda");
    filtro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>
