@using ConsultorioDermatologico.Models

@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListasDesactivados",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Búsqueda por nombre o cédula: ")
    @Html.TextBox("busqueda", null, new { @class = "form-control" })
    <div id="divListasDesactivados">
        <div id="divListaPacientesEliminados">
            @Html.Partial("_TablaDesactivados")
        </div>        
    </div>
}

<script>
    var filtro = document.getElementById("busqueda");
    filtro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }



</script>





